fieldset{
                    
    width: 10em;
    height: 13em;
    /*box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.3);*/
    border-radius: 8px;
    position: absolute;
    top: 10em;
    left: 35em;
    animation: Contour 3s infinite;
}

.service {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.service.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

@keyframes Contour {
    0%{
        border-left-color: red;
    }
    25%{
        border-bottom-color: green;
    }
    50%{
        border-right-color: blue;
    }
    75%{
        border-top-color: brown;
    }
 }